<div class="card mx-auto">
    <div class="card-body">
        <h5 class="card-title">RESET PASSWORD</h5>
        <hr>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="text" class="form-control form-control-md" name="email" placeholder="Enter Email"
                    formControlName="email">

                <div *ngIf="isFieldInvalid('email')" class="error-message">
                    Please enter email
                </div>
            </div>
            <div class="form-group">
                <input type="date" class="form-control form-control-md" formControlName="dob" placeholder="Date of Birth">
                <div *ngIf="isFieldInvalid('dob')" class="error-message">
                    Select date of birth
                </div>
            </div>

            <button type="submit" [disabled]="!form.valid" class="btn btn-success float-right">NEXT</button>
        </form>
    </div>
</div>